In [1]:
#pip install py-openaq

Collecting py-openaq
  Downloading py-openaq-1.1.0.tar.gz (7.9 kB)
Building wheels for collected packages: py-openaq
  Building wheel for py-openaq (setup.py): started
  Building wheel for py-openaq (setup.py): finished with status 'done'
  Created wheel for py-openaq: filename=py_openaq-1.1.0-py3-none-any.whl size=9042 sha256=f22953f86c5f67549754f86b7afdeb92432fd1447f96fab5139443d6d61cdd9c
  Stored in directory: c:\users\ayako\appdata\local\pip\cache\wheels\01\1d\be\6b6a0ee792bbc9138aeb645707cdad8da741bb2d789beb04d9
Successfully built py-openaq
Installing collected packages: py-openaq
Successfully installed py-openaq-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import openaq
import pandas as pd
api = openaq.OpenAQ()

In [23]:
# Get the list of cities
IN_cities = api.cities(country = 'IN', limit = 10000, df = True)
MX_cities = api.cities(country = 'MX', limit = 10000, df = True)
CO_cities = api.cities(country = 'CO', limit = 10000, df = True)

IN_cities = IN_cities['city'].tolist()
MX_cities = MX_cities['city'].tolist()
CO_cities = CO_cities['city'].tolist()

print(len(IN_cities))
print(len(MX_cities))
len(CO_cities)

C:\Users\ayako\anaconda3\lib\site-packages\openaq\decorators.py:57: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = pd.io.json.json_normalize(resp)

In [144]:
# Get PM2.5 from Columnbia
# Repeat the same for other countries which have many cities
CO_cities1 = CO_cities[0:5]
CO_cities2 = CO_cities[6:11]

CO1 = api.measurements(city = CO_cities1, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)

CO2 = api.measurements(city = CO_cities2, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)

frames = [CO1, CO2]
Colombia = pd.concat(frames)
Colombia.to_csv('Colombia.csv', index=False)

In [116]:
# Collect PM2.5 data from other countries which have less data points
Pakistan = api.measurements(country = 'PK', parameter = 'pm25', 
                            date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
UAE = api.measurements(country = 'AE', parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Saudi = api.measurements(country = 'SA', parameter = 'pm25', 
                         date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Sudan = api.measurements(country = 'SD', parameter = 'pm25', 
                         date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Ethiopia = api.measurements(country = 'ET', parameter = 'pm25', 
                            date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Guinea = api.measurements(country = 'GN', parameter = 'pm25', 
                          date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Mali = api.measurements(country = 'ML', parameter = 'pm25', 
                        date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Morocco = api.measurements(country = 'MA', parameter = 'pm25', 
                           date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Brazil = api.measurements(country = 'BR', parameter = 'pm25', 
                          date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Portugal = api.measurements(country = 'PT', parameter = 'pm25', 
                            date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Ecuador = api.measurements(country = 'EC', parameter = 'pm25', 
                           date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)
Peru = api.measurements(country = 'PE', parameter = 'pm25', 
                        date_from = '2018-11-22', date_to = '2021-01-31', limit = 100000, df = True)

In [138]:
frames2 = [India, Pakistan, UAE, Saudi, Sudan, Ethiopia, Guinea, Mali, Morocco, Bangladesh, Brazil, Portugal, Mexico, Colombia,
          Ecuador, Peru]
world = pd.concat(frames2)

In [140]:
world.shape

(2323177, 9)

In [6]:
world['country'].value_counts()

IN    1445565
MX     310908
CO     200000
PT     100000
PK      57168
AE      45848
PE      42828
ET      37012
BD      18622
US      17030
BR      10369
SD       8906
SA       8777
GN       5960
ML       5389
EC       4087
ES       3868
MA        840
Name: country, dtype: int64

In [4]:
world['location'].value_counts()

GVM Corporation, Visakhapatnam - APPCB    27252
GM Office, Brajrajnagar - OSPCB           25219
Yamunapuram, Bulandshahr - UPPCB          24394
Gobind Pura, Yamuna Nagar - HSPCB         23003
Ward-32 Bapupara, Siliguri - WBPCB        18948
                                          ...
US Diplomatic Post: Dharan                   24
Laboratorio                                   2
Jeddah                                        2
PT04002                                       1
CESPM                                         1
Name: location, Length: 463, dtype: int64

In [136]:
World.head()

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude,coordinates
date.local,,,,,,,,,,
2021-01-27 03:00:00,"Moti Doongri, Alwar - RSPCB",pm25,44.82,b'\xc2\xb5g/m\xc2\xb3',IN,Alwar,2021-01-26 21:30:00+00:00,27.554793,76.611536,"76.611536,27.554793"
2021-01-27 03:00:00,"Maninagar, Ahmedabad - GPCB",pm25,50.30,b'\xc2\xb5g/m\xc2\xb3',IN,Ahmedabad,2021-01-26 21:30:00+00:00,23.002657,72.591912,"72.591912,23.002657"
2021-01-27 03:00:00,"Civil Lines, Ajmer - RSPCB",pm25,36.60,b'\xc2\xb5g/m\xc2\xb3',IN,Ajmer,2021-01-26 21:30:00+00:00,26.470859,74.646594,"74.646594,26.470859"
2021-01-27 03:00:00,"Sanjay Palace, Agra - UPPCB",pm25,153.00,b'\xc2\xb5g/m\xc2\xb3',IN,Agra,2021-01-26 21:30:00+00:00,27.198658,78.005981,"78.00598056,27.19865833"
2021-01-27 03:00:00,"Golden Temple, Amritsar - PPCB",pm25,69.34,b'\xc2\xb5g/m\xc2\xb3',IN,Amritsar,2021-01-26 21:30:00+00:00,31.620000,74.876512,"74.876512,31.62"

In [ ]:
world.to_csv('world_openaq.csv', index=False)